.image {
    height: 150px;
    width: 110px;
    border: 1px gray solid;
}

.container {
    margin-top: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
}

.imageCart {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.button {

    width: 150px;
    color: white;
    font-size: 18px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: #2a9184;
    justify-self: flex-end;
}

.name {
    margin-bottom: 0px;
    font-size: 22px;
}

.author {
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 18px;
}

.genre {
    margin-bottom: 0px;
    margin-top: 3px;
    font-size: 18px;
}