.cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart {
    position: relative;
    padding-top: 30px;
    width: 320px;
    background-color: #9ad1c1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book {
    display: flex;
    margin-bottom: 30px;
    width: 240px;
    position: relative;
}

.bookImage {
    height: 115px;
    width: 90px;
    border: 1px gray solid;
}

.bookInformation {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    height: 115px;
    position: relative;
}

.bookInformation p {
    margin-top: 0px;
}

.bookButton {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0%;
}

.price {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.title {
    position: absolute;
    top: 0%;

}

.author {
    position: absolute;
    top: 20%;

}

.total {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.saldo {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.total div {
    font-size: 20px;
}

.saldo div {
    font-size: 18px;
}

.purchaseButton {
    margin-top: 20px;
    margin-bottom: 20px;
}

.purchaseButton button {
    width: 200px;
    height: 30px;
    border-radius: 7px;
    background-color: #2a9184;
    border: none;
}